<p-table
  [scrollable]="true"
  scrollHeight="70vh"
  [value]="operationHistories"
  selectionMode="single"
  [(selection)]="selectedOperationHistory"
  [tableStyle]="{ 'min-width': '50rem' }"
  (onRowSelect)="unlockButtons()"
  (onRowUnselect)="lockButtons()"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <input type="text" pInputText placeholder="Search" class="search-input" />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Date of change</th>
      <th>Description of change</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-operationHistory>
    <tr [pSelectableRow]="operationHistory">
      <td>{{ operationHistory.id }}</td>
      <td>{{ operationHistory.userId }}</td>
      <td>{{ operationHistory.dateOfChange }}</td>
      <td>{{ operationHistory.changeDescription }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      <div class="p-buttons">
        <p-button label="Delete" [disabled]="buttonActivated" (onClick)="deleteSelectedRow()" *jhiHasAnyAuthority="'ROLE_ADMIN'"></p-button>
      </div>
    </div>
  </ng-template>
</p-table>
<!-- <p-button label="Add" (click)="showDialog()"></p-button> -->

<p-toast></p-toast>

<!-- <p-dialog
  header="Title"
  [(visible)]="display"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [maximizable]="true"
  [draggable]="false"
  [resizable]="false"
>
  <div>
    <div>
      <input id="float-input-one" type="text" pInputText [(ngModel)]="newOperation" />
      <label for="float-input-one">User Id</label>
    </div>
    <div>
      <input id="float-input-one" type="text" pInputText [(ngModel)]="newOperation" />
      <label for="float-input-one">Date of change</label>
    </div>
    <div>
      <input id="float-input-one" type="text" pInputText [(ngModel)]="newOperation" />
      <label for="float-input-one">Description of the change</label>
    </div>
    <div> -->
<!-- <p-button label="Save"></p-button>
    </div>
  </div>
</p-dialog> -->
