tr th,
tr td {
  text-align: center;
  width: 25%;
  color: #fff;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

tr th {
  font-size: 20px;
}

.search-input {
  background-color: rgba($color: royalblue, $alpha: 0.1);
  color: #fff;
  border: 5px solid royalblue;
  width: 16vw;
}

.p-highlight > td {
  background-color: royalblue;
}

.ng-tns-c173-15 {
  background-color: red !important;
}

.btnAddOrUpdate {
  margin-top: 30px;
}

.btnAddOrUpdate p-button button {
  width: 100%;
}

p-button .p-button {
  width: 48vw;
}

#float-input-one {
  width: 13vw;
}

#float-input-two {
  width: 13vw;
}

#float-input-three {
  width: 13vw;
}
