<div class="logo-ente bg-dark" routerLink="/" (click)="collapseNavbar()">
  <img src="./content/images/ente-logo2.png" alt="Ente-logo" />
</div>

<div>
  <div [ngSwitch]="account !== null">
    <div *ngSwitchCase="true" class="piotrek-menu bg-dark">
      <div
        class="nav-item piotrek-menu__element element-margi"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        (click)="collapseNavbar()"
      >
        <span class="fa-icon-text"><fa-icon icon="home"></fa-icon> Home</span>
      </div>
      <div class="interrupter"></div>
      <div
        class="piotrek-menu__element"
        routerLink="employee"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="collapseNavbar()"
      >
        <span class="fa-icon-text"><fa-icon icon="th-list"></fa-icon> Employees</span>
      </div>
      <div class="interrupter"></div>
      <div
        class="piotrek-menu__element"
        routerLink="job"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="collapseNavbar()"
      >
        <span class="fa-icon-text"><fa-icon icon="th-list"></fa-icon> Job titles</span>
      </div>
      <div class="interrupter"></div>
      <div
        class="piotrek-menu__element"
        routerLink="operation-history"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="collapseNavbar()"
      >
        <span class="fa-icon-text"><fa-icon icon="th-list"></fa-icon> Operations history</span>
      </div>
      <div class="interrupter"></div>
      <div
        class="piotrek-menu__element"
        routerLink="employee-2-job"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="collapseNavbar()"
      >
        <span class="fa-icon-text"><fa-icon icon="th-list"></fa-icon> Employees roles</span>
      </div>
      <div class="interrupter"></div>
      <div class="piotrek-menu__element" (click)="logout()" id="logout" data-cy="logout">
        <span class="fa-icon-text"><fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>Log out</span>
      </div>
    </div>
    <div *ngSwitchCase="false" class="piotrek-menu bg-dark">
      <div
        class="nav-item piotrek-menu__element"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        (click)="collapseNavbar()"
      >
        <span class="fa-icon-text"><fa-icon icon="home"></fa-icon> Home</span>
      </div>
      <div class="interrupter"></div>
      <div class="piotrek-menu__element" (click)="login()" id="login" data-cy="login">
        <!-- <i class="fa-sharp fa-solid fa-right-to-bracket"></i> -->
        <span class="fa-icon-text"><fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon> Sign in</span>
      </div>
    </div>
  </div>
</div>

<!-- <nav data-cy="navbar" class="navbar navbar-expand-md navbar-content">
  <div class="container-fluid">
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div
      class="navbar-collapse collapse menu-content"
      id="navbarResponsive"
      [ngbCollapse]="isNavbarCollapsed"
      [ngSwitch]="account !== null"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Strona domowa</span>
            </span>
          </a>
        </li>
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span jhiTranslate="global.menu.entities.main">Encje</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="employee"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Pracownicy</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="job"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Stanowisko</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="operation-history"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Historia operacji</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="employee-2-job"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Stanowiska pracowników</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span jhiTranslate="global.menu.admin.main">Administracja</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">Użytkownicy</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Metryki</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Status</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Konfiguracja</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logi</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
              </a>
            </li>
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
            <span>
              <fa-icon icon="flag"></fa-icon>
              <span jhiTranslate="global.menu.language">Język</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            <li *ngFor="let language of languages">
              <a
                class="dropdown-item"
                [jhiActiveMenu]="language"
                href="javascript:void(0);"
                (click)="changeLanguage(language); collapseNavbar()"
                >{{ language | findLanguageFromKey }}</a
              >
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Konto</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Ustawienia</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Hasło</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Wyloguj</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Autoryzacja</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                class="dropdown-item"
                routerLink="account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Zarejestruj się</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
