<p-table
  [value]="jobs"
  selectionMode="single"
  [(selection)]="selectedJob"
  [tableStyle]="{ 'min-width': '50rem' }"
  (onRowSelect)="unlockRow()"
  (onRowUnselect)="lockRow()"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Job title</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-job>
    <tr [pSelectableRow]="job">
      <td>{{ job.id }}</td>
      <td>{{ job.jobTitle }}</td>
    </tr>
  </ng-template>
</p-table>
<p-button label="Add" (click)="showDialog(false)"></p-button>
<p-button label="Delete" [disabled]="buttonActivated" (onClick)="deleteSelectedRow()"></p-button>
<p-button label="Edit" (click)="showDialog(true)" [disabled]="buttonActivated"></p-button>
<p-dialog
  header="Title"
  [(visible)]="display"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [maximizable]="true"
  [draggable]="false"
  [resizable]="false"
>
  <div>
    <div>
      <input id="float-input-one" type="text" pInputText [(ngModel)]="jobTitle" />
      <label for="float-input-one">Job title</label>
    </div>
    <div>
      <p-button label="Update" (click)="updateJob()"></p-button>
    </div>
  </div>
</p-dialog>
